<VirtualHost *:80>
    ServerName llama.ok-lab-karlsruhe.de
    # need document root with dummy page to satisfy
    # certbot installer when no route for / configured
    DocumentRoot /var/www/html/llama

    ProxyPreserveHost On
    ProxyRequests Off
    # Proxy setup

    # REST Proxy
    ProxyPass        /api  http://localhost:5990/api
    ProxyPassReverse /api  http://localhost:5990/api

    # WebSocket Proxy
    ProxyPass        /ws  ws://localhost:5990/ws
    ProxyPassReverse /ws  ws://localhost:5990/ws

    # Allow CORS headers
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Headers "Authorization, Content-Type"
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"

</VirtualHost>
